CREDENTIALS_TOKEN_B=fRq8p2jwOg_Wy1aV2H3rTSolPpmlMSbDw7J3gQBJmZ4
EMSP_BASE_URL=http://localhost:5053
HUB_BASE_URL=http://localhost:3030

# Postgres Config
POSTGRES_USER=smarthub
# 提示：因為 docker-compose 變數插值會解析 $，此處必須使用 $$ 進行轉義
POSTGRES_PASSWORD=$$83515567!
POSTGRES_DB=DATABASE
DATABASE_URL=postgresql://smarthub:%2483515567%21@localhost:5434/DATABASE?schema=public

# Redis Config
REDIS_PASSWORD=redis_secret_password_999
REDIS_URL=redis://:redis_secret_password_999@localhost:6379